CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Makefile*
*build-*
cmake-build-*
/cmake-build-*
CMakeLists.txt.user*


*.DS_Store
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp


# CLion
/*.idea
*.idea
